In [17]:
import pandas as pd

In [18]:
# create array of 26 alphabets
alphabets = [chr(i) for i in range(65, 91)]
alphabets.insert(0, None)
print(alphabets)

[None, 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [19]:
# mock data from mockaroo
df = pd.read_csv('mock_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   letter 1  1000 non-null   int64
 1   letter 2  1000 non-null   int64
 2   ms        1000 non-null   int64
dtypes: int64(3)
memory usage: 23.6 KB

In [20]:
# replace integer in letter column with alphabets
df['start letter'] = df['letter 1'].replace(range(0, 27), alphabets)
df['end letter'] = df['letter 2'].replace(range(0, 27), alphabets)

# drop letter 1 and letter 2 columns
df.drop(['letter 1', 'letter 2'], axis=1, inplace=True)

In [21]:
df.head()

     ms start letter end letter
0  3676            C          H
1  2154            J          C
2  3607            B          I
3  2440            Y          J
4  4054            B          V

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ms            1000 non-null   int64
 1   start letter  1000 non-null   object
 2   end letter    1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [23]:
# read to csv
df.to_csv('final_mock_data.csv', index=False)